@import 'blocks/_buttons.scss';
@import 'blocks/_vaiables.scss';
@import 'blocks/_header.scss';
@import 'blocks/_product-section.scss';

body {
    
    font-family: "Poppins", "Montserrat", sans-serif;
    color:$text-color;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
a {
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto; 
    padding: 0 15px;
}

@media screen and (min-width: 428px) {
    .container {
        width: 411px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}



@import 'blocks/_style1400.scss';
@import 'blocks/_hero-section1400.scss';
@import 'blocks/_section-hero.scss';
@import 'blocks/_managment.scss';
@import 'blocks/_quick-easy.scss';
@import 'blocks/_strategy.scss';
@import 'blocks/_price.scss';
@import 'blocks/_clientssay.scss';